/* Container for the texts */
.text-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-bottom: calc(2 * var(--margin));
}

.text-left,
.text-right,
.text-center {
  flex: 1;
  display: flex;
}

.text-left {
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -1rem;
  margin-left: calc(1 * var(--margin));
}

.text-center {
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: -1rem;
  margin-right: calc(0 * var(--margin));
}

.text-right {
  align-items: center;
  justify-content: flex-end;
  margin-top: -2rem;
  margin-right: calc(1 * var(--margin));
}

/* Define blink animation */
@keyframes blink {
  0%,
  100% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.7;
  }
}

/* Define move (up-and-down) animation */
@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--arrow-size) / 3));
  }
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.arrow {
  /* margin-top: var(--margin); */
  opacity: 0.7;
  /* animation: blink 1.5s infinite; */
  animation: move 1.5s infinite;
}
