/* Content.css */
.content-container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .image-container {
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    width: 60vw; 
    object-fit: cover; 
  }

  .image-container .placeholder {
    width: 60vw; 
    font-family: var(--body-font-italics); 
    font-size: var(--body-font-size);
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .description-container {
    width: 30vw;  
    font-size: var(--body-font-size);
  }

  .description-container .subtitle {
    font-weight: var(--font-weight-bold); 
    margin-bottom: 1rem;
  }
  
  .description-container .description-text {
    /* font-size: 1rem;  Adjust as needed */
  }
  
  