/* About.css */
.about-container {
    text-align: left;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-size: var(--body-font-size);
  }
  
.about-description {
  margin-bottom: 1rem;
  max-width: 30rem;
  text-align: left;
}

.about-subtitle {
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
  margin-bottom: 4rem;
}

.landscape {
  grid-column: span 2;
  grid-row: 1;
}

.portrait {
  grid-column: span 1;
}

.image-grid figure {
  margin: 0; 
  position: relative; 
}

.image-grid img {
  width: 100%; 
  display: block; 
}

.figcaption {
  text-align: center; /* Center the caption text */
  margin-top: 0.5rem; /* Space between image and caption */
  font-style: italic; /* Italicize the caption (optional) */
}


  .bold {
    font-weight: var(--font-weight-bold);
  }
  
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .landscape {
    grid-column: span 2; 
  }
}
  