.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* or any color you want for the loading screen */
  z-index: 10;
  transition: transform 1s ease-in-out; /* smooth transition */
}

.loading-overlay.hide {
  transform: translateY(-100%); /* slide up to hide */
}
