.navbar-container {
  font-size: var(--navbar-font-size);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar-right {
  display: flex;
  gap: 1rem;
}

.navbar-component {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-container {
    font-size: 1rem;
  }
}
