/* Footer.css */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: var(--margin);
  color: var(--font-color);
  font-size: var(--navbar-font-size);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  fill: var(--font-color);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
