/* Footer.css */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: white;  */
  color: black;
  text-align: left;
  padding: 1rem;
  box-sizing: border-box;
  font-size: var(--footer-font-size);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  /* margin-left: 1rem; or as needed */
}

.icons {
  display: flex;
  gap: 1rem; /* space between icons */
}

.icon {
  fill: black;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

/* Add additional styles for responsiveness or other states as needed */
