.App {
  margin: var(--margin);
  height: fit-content;
}

.content {
  opacity: 0; /* Initially hidden */
  transform: translateY(var(--margin)); /* Slightly lower position */
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.content.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Restored to original position */
}
